#header{
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
}
@media only screen and (max-width: 600px) {
   body{
       width: 400px;
   }
  }

#header-img{
    height: 50px;
    width: 100px;
}

#nav-bar{
    align-self: end;
    margin-right: 10px;

}